In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import cross_val_score

In [9]:
invoice_data = pd.read_csv('dataset.csv')
invoice_data.head(-10) #inspect the first/last 5 of the dataset

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2020-02-11 00:00:00,2020.0,1.930438e+09,2020-01-26,20200125,20200126,20200210.0,USD,RV,1.0,NaN,54273.28,20200126.0,NAH4,1.930438e+09,0
1,U001,0200980828,BEN E,2019-08-08 00:00:00,2019.0,1.929646e+09,2019-07-22,20190722,20190722,20190811.0,USD,RV,1.0,NaN,79656.60,20190722.0,NAD1,1.929646e+09,0
2,U001,0200792734,MDV/ trust,2019-12-30 00:00:00,2019.0,1.929874e+09,2019-09-14,20190914,20190914,20190929.0,USD,RV,1.0,NaN,2253.86,20190914.0,NAA8,1.929874e+09,0
3,CA02,0140105686,SYSC llc,NaN,2020.0,2.960623e+09,2020-03-30,20200330,20200330,20200410.0,CAD,RV,1.0,NaN,3299.70,20200331.0,CA10,2.960623e+09,1
4,U001,0200769623,WAL-MAR foundation,2019-11-25 00:00:00,2019.0,1.930148e+09,2019-11-13,20191113,20191113,20191128.0,USD,RV,1.0,NaN,33133.29,20191113.0,NAH4,1.930148e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49985,U001,0200769623,WAL-MAR in,2019-05-13 00:00:00,2019.0,1.929242e+09,2019-05-02,20190501,20190502,20190517.0,USD,RV,1.0,NaN,542.11,20190502.0,NAH4,1.929242e+09,0
49986,U001,0200772670,ASSOCIAT foundation,2019-06-12 00:00:00,2019.0,1.929403e+09,2019-05-29,20190530,20190529,20190613.0,USD,RV,1.0,NaN,155837.53,20190529.0,NAU5,1.929403e+09,0
49987,U001,0200732755,KROGER corporation,2019-08-19 00:00:00,2019.0,1.929687e+09,2019-08-02,20190801,20190802,20190817.0,USD,RV,1.0,NaN,132041.22,20190802.0,NAA8,1.929687e+09,0
49988,U001,0200726979,BJ'S llc,2019-09-26 00:00:00,2019.0,1.929854e+09,2019-09-10,20190909,20190910,20190925.0,USD,RV,1.0,NaN,544.82,20190910.0,NAA8,1.929854e+09,0
49989,U001,0200772670,ASSOCIAT us,2020-03-05 00:00:00,2020.0,1.930542e+09,2020-02-18,20200219,20200218,20200304.0,USD,RV,1.0,NaN,33729.79,20200218.0,NAU5,1.930542e+09,0

In [13]:
data = invoice_data.dropna()
data

AttributeError: 'DataFrame' object has no attribute 'unique'